.sliderdisplaycomponent-component {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  .warning {
    color: white;
  }

  span {
    width: 80%;
    margin: 10px auto;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    &.hide {
      display: none;
    }
  }
}

.slide-enter {
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.slide-leave {
  opacity: 1;
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: opacity 1500ms ease-in;
}


